/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

/* utility */
.bg-blu{
background-color: rgb(41, 92, 235);
}

.bg-grigio{
    background-color: rgb(247, 247, 247);
}

.bg-scuro{
    background-color: rgb(34, 34, 34);
}

.bg-bianco{
    background-color: white;
}

.bg-viola{
    background-color: rgb(139, 137, 253);
}

.viola{
    color: rgb(139, 137, 253);
}

.margine{
    margin-bottom: 50px;
    margin-top: 25px;
}

.blocco{
    display: inline-block;
    border-radius: 30px;
    padding: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dis-block{
    display: block;
}


.spazio-linea-titolo{
    line-height: 2.5;
}

.text-bianco{
    color: white;
}

.font-size{
    font-size: 0.9rem;
}

.altezza{
    min-height: 400px;
}
.alt-grande{
    height: 600px;
    padding-bottom: 30px;
    padding-top: 30px;
}

/* flexbox */

.flex{
    display:flex;
}

.header{
    /* justify-content: space-between; */
    align-items: center;
    height: 50%;
    width: 70%;
}

.space-between{
    justify-content: space-between;
    
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}

.center{
    justify-content: center;
    align-items: center;
}

.order{
    order: 1;
}
/* layout */

header{
    height: 60px;
    justify-content: center;
    align-items: center;
}

.flex-grow{
    flex-grow: 1;
} 

.gap{
    gap:15%;
    flex-wrap: nowrap; 
}

.gap1{
    gap: 3%;
}
.ret{
    width: 50%;
    height: 80%;
}

.ret-grande{
    width: 70%;
    height: 100%;
}

.sezione{
    width: 70%;    
    height: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}


/* HERO */

.sfondo-img{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.text-align{
    text-align: center;
    
}
.line-height{
    line-height: 1.7;
}
/* Sezioni Info */

.stelle{
    background-image: url(../img/stars.svg);
    background-size: cover;
    height: 40px;
    width: 450px;
}

.onda{
    background-image: url(../img/wave.svg);
    background-repeat: repeat;
    height: 50px;
    color: rgb(247, 247, 247);
    
}

.colonna{
    flex-direction: column;
}
.padding{
    padding:10px;
    
}

.bot-pad{
    padding-bottom: 15px;
}
/* sezione a 5 colonne */

.width1{
    width: 30%;
    /* height: 100%; */
}

.width2{
    width: 70%;
}

li{
    /* display: flex; */
    /* flex-basis: 25%; */
    flex-grow: 1;
    list-style: none;
}

.sezione.padding{
    padding-bottom: 30px;
    padding-top: 10px;
}

/* footer */

footer{
    height: 100px;
    justify-content: center;
    align-items: flex-start;
    
}

.border-top{
    border-top: 1px solid rgb(139, 137, 253);
}

.border-bottom{
    
    border-bottom: 1px solid rgb(182, 180, 180);
}

.footer{
    height: 70%;
    width: 70%;
    align-items: center;
}

.piccolo{
    font-size: small;
}