/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

/* utility */
.bg-blu{
background-color: rgb(41, 92, 235);
}

.bg-celeste{
    background: lightskyblue;
}

.bg-rosa{
background-color: palevioletred;
}

.bg-arancione{
background-color: orange;
}

.bg-verde{
background-color: green;
}

.bg-grigio{
    background-color: rgb(235, 235, 235);
}

.bg-scuro{
    background-color: rgb(34, 34, 34);
}

.bg-corallo{
    background: lightcoral;
}

.bg-turchese{
    background: teal;
}
.bg-acqua{
    background: rgb(96, 238, 157);
}
.bg-bianco{
    background-color: white;
}
.blocco{
    display: inline-block;
    border-radius: 30px;
    padding: 13px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.dis-block{
    display: block;
}



.text-bianco{
    color: white;
}

.font-size{
    font-size: 0.9rem;
}

.altezza{
    height: 400px;
}
.alt-grande{
    height: 600px;
    padding-bottom: 30px;
    padding-top: 30px;
}
/* flexbox */

.flex{
    display:flex;
}

.header{
    /* justify-content: space-between; */
    align-items: center;
    height: 50%;
    width: 70%;
}

.space-between{
    justify-content: space-between;
    
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}
.center{
    justify-content: center;
    align-items: center;
}

.order{
    order: 1;
}
/* layout */

header{
    height: 60px;
    justify-content: center;
    align-items: center;
}

.flex-grow{
    flex-grow: 1;
 } 
.gap{
    gap:15%;
    flex-wrap: nowrap; 
}

.gap1{
    gap: 3%;
}
.ret{
    width: 50%;
    height: 80%;
}

.ret-grande{
    width: 70%;
    height: 100%;
}

.sezione{
    width: 70%;    
    height: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.bg-celeste.sezione{
    width: 60%;
    
}

.bg-rosa.sezione{
    width: 40%;
    
}
/* HERO */

.sfondo-img{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.hero{
    text-align: center;
    line-height: 1.7;
}
/* sezione a 5 colonne */

.bg-corallo.sezione{
    width: 30%;
    /* height: 100%; */
}

.bg-turchese.sezione{
    width: 70%;
}

li{
    /* display: flex; */
    /* flex-basis: 25%; */
    flex-grow: 1;
    list-style: none;
}

.sezione.padding{
    padding-bottom: 30px;
    padding-top: 10px;
}

/* footer */

footer{
    height: 60px;
    justify-content: center;
    align-items: flex-end;
}

.border{
    border-top: 1px solid rgb(182, 180, 180);
    border-bottom: 1px solid rgb(182, 180, 180);
}

.footer{
    height: 70%;
    width: 70%;
    align-items: center;
}

.padding{
    padding: 3px;
    font-size: small;
}